<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='student-rep/student-rep-home-rooms.css') }}" />
  </head>
  <body>
    <div class="Nav-upper">
      <div class="Menu-Container">
        <img class="Menu_icon" src="{{ url_for('static', filename='images/student-rep-menu.png') }}" alt="Menu Icon" />
      </div>
      <img class="Logo" src="{{ url_for('static', filename='images/cearis-logo.png') }}" alt="CEA RIS Logo" />
      <div class="Acc_Setting-Container">
        <img class="Acc_Settings" src="{{ url_for('static', filename='images/student-rep-account.png') }}" alt="Account Settings" />
        <ul class="Profile-Setting">
          <li><img class="Profile-Icon" src="{{ url_for('static', filename='images/student-rep-profile.png') }}" alt="Profile Icon" /> Profile</li>
          <li><img class="Change_Password-Icon" src="{{ url_for('static', filename='images/student-rep-change-pass.png') }}" alt="Change Password Icon" /> Change Password</li>
          <li><img class="Logout-Icon" src="{{ url_for('static', filename='images/student-rep-log-out.png') }}" alt="Log Out Icon" /> Log Out</li>
        </ul>
      </div>
    </div>
    <div class="Nav-bar">
      <div class="Nav-left">
        <div class="Nav-left_Content">
          <div class="Nav-left_img">
            <img class="Acc_Edit" src="{{ url_for('static', filename='images/student-rep-acc_edit.png') }}" alt="Account Edit" />
          </div>
          <div class="Nav-left_text">
            <h1><b>CEA RIS</b></h1>
            <h2>STUDENT REPRESENTATIVE MODULE</h2>
          </div>
        </div>
      </div>
      <div class="Nav-Right">
        <div class="Nav-Right-Content">
          <div class="Back-Icon" id="BackId">
            <img class="Back-bttn" src="{{ url_for('static', filename='images/student-rep-back.png') }}" alt="Back Button" />
            <h2 class="Back-txt">Back</h2>
          </div>
          <div class="Search-Icon">
            <img class="Search-bttn" src="{{ url_for('static', filename='images/student-rep-search.png') }}" alt="Search Button" />
            <h2 class="Search-txt">Search</h2>
          </div>
          <div class="Search">
            <div class="search-option">
              <div class="Room-name">Room Name</div>
              <div class="Time">Time-in - Time-out</div>
            </div>
            <div class="Search-bar">
                <input type="text" class="Search-Input" id="searchInput" placeholder="Search Room Name">
                <!-- Display the filtered room numbers -->
                <div class="room-list" id="roomList">
                    {% for room_number in room_numbers %}
                        <p class="roomNumber" style="display: none;">{{ room_number[0] }}</p>
                    {% endfor %}
                </div>
                <div class="recent-Searches">Recent Searches</div>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <div class="side-bar-and-content">
      <div class="Side-bar">
        <div class="Side-bar-Contents">
          <div class="Rooms">
            <div class="Room-img-Container">
              <img class="Rooms-img" src="{{ url_for('static', filename='images/student-rep-rooms-yellow.png') }}" alt="Rooms Image" />
            </div>
            <div class="Rooms-bttn">
              <button onclick="handleRoomsButtonClick()">
                Rooms
              </button>
            </div>
            <div class="Reservations">
              <div class="Reservation-img-Container">
                <img class="Reserve-img" src="{{ url_for('static', filename='images/student-rep-reserve.png') }}" alt="My Reservation Image" />
              </div>
              <div class="Reserve-bttn">
                <button onclick="handleReservationsButtonClick()">
                  My Reservation
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Rooms-Container">
        <div class="Rooms-List-Container">
          <div class="Floor">
            <h1>THIRD FLOOR</h1>
          </div>
          <div class="Rooms-Floor-Plan-Container">
            <div class="Back-bttn">
              <img class="Backbttn-img" src="{{ url_for('static', filename='images/student-rep-rooms-back.png') }}" alt="Back Button" />
            </div>
            <div class="Rooms-Floor-Plan">
              <div class="Left">
                <div class="Left-content">
                  <div class="Long-empty-left"></div>
                  <div class="smallEmpty-left"></div>
                  <div id="RM307" class="RM307">
                    <p>
                      {% for room_number in room_numbers %} {% if loop.index == 12 %} {{ room_number[0] }} {% endif %} {% endfor %}
                    </p>
                  </div>
                  <div id="RM308" class="RM308">
                    <p>
                      {% for room_number in room_numbers %} {% if loop.index == 13 %} {{ room_number[0] }} {% endif %} {% endfor %}
                    </p>
                  </div>
                  <div class="mediumEmpty-left"></div>
                  <div class="rectangle-left"></div>
                </div>
              </div>
              <div class="Rooms-column">
                <div class="Room302-306">
                  <div id="RM306b" class="306b">
                    {% for room_number in room_numbers %} {% if loop.index == 11 %} {{ room_number[0] }} {% endif %} {% endfor %}
                  </div>
                  <div id="RM306a" class="306a">
                    {% for room_number in room_numbers %} {% if loop.index == 10 %} {{ room_number[0] }} {% endif %} {% endfor %}
                  </div>
                  <div id="RM305b" class="305b">
                    {% for room_number in room_numbers %} {% if loop.index == 9 %} {{ room_number[0] }} {% endif %} {% endfor %}
                  </div>
                  <div id="RM305a" class="305a">
                    {% for room_number in room_numbers %} {% if loop.index == 8 %} {{ room_number[0] }} {% endif %} {% endfor %}
                  </div>
                  <div id="RM304b" class="304b">
                    {% for room_number in room_numbers %} {% if loop.index == 7 %} {{ room_number[0] }} {% endif %} {% endfor %}
                  </div>
                  <div id="RM304a" class="304a">
                    {% for room_number in room_numbers %} {% if loop.index == 6 %} {{ room_number[0] }} {% endif %} {% endfor %}
                  </div>
                  <div id="RM303b" class="303b">
                    {% for room_number in room_numbers %} {% if loop.index == 5 %} {{ room_number[0] }} {% endif %} {% endfor %}
                  </div>
                  <div id="RM303a" class="303a">
                    {% for room_number in room_numbers %} {% if loop.index == 4 %} {{ room_number[0] }} {% endif %} {% endfor %}
                  </div>
                  <div id="RM302" class="302">
                    {% for room_number in room_numbers %} {% if loop.index == 3 %} {{ room_number[0] }} {% endif %} {% endfor %}
                  </div>
                </div>
                <div class="Room-middle">
                  <div class="Rooms-left">
                    <div class="RM319-320">
                      <div id="RM319" class="RM319">
                        <p>
                          {% for room_number in room_numbers %} {% if loop.index == 22 %} {{ room_number[0] }} {% endif %} {% endfor %}
                        </p>
                      </div>
                      <div id="RM320" class="RM320">
                        <p>
                          {% for room_number in room_numbers %} {% if loop.index == 23 %} {{ room_number[0] }} {% endif %} {% endfor %}
                        </p>
                      </div>
                    </div>
                    <div class="RM-empty">
                      <div class="EmptyRM"></div>
                    </div>
                    <div class="RM321-323">
                      <div id="RM321" class="RM321">
                        <p>
                          {% for room_number in room_numbers %} {% if loop.index == 24 %} {{ room_number[0] }} {% endif %} {% endfor %}
                        </p>
                      </div>
                      <div id="RM322" class="RM322">
                        <p>
                          {% for room_number in room_numbers %} {% if loop.index == 25 %} {{ room_number[0] }} {% endif %} {% endfor %}
                        </p>
                      </div>
                      <div id="RM323" class="RM323">
                        <p>
                          {% for room_number in room_numbers %} {% if loop.index == 26 %} {{ room_number[0] }} {% endif %} {% endfor %}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="Rooms-right">
                    <div class="small-Empty">
                      <div class="small-empty1"></div>
                      <div class="small-empty2"></div>
                    </div>
                    <div class="medium-Empty">
                      <div class="medium-empty1"></div>
                    </div>
                    <div class="big-Empty">
                      <div class="big-empty1"></div>
                    </div>
                    <div class="RM18">
                      <div id="RM318" class="RM318">
                        <p>
                          {% for room_number in room_numbers %} {% if loop.index == 21 %} {{ room_number[0] }} {% endif %} {% endfor %}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Room310-316">
                  <div id="RM310" class="RM310">
                    <p>
                      {% for room_number in room_numbers %} {% if loop.index == 14 %} {{ room_number[0] }} {% endif %} {% endfor %}
                    </p>
                  </div>
                  <div id="RM311" class="RM311">
                    <p>
                      {% for room_number in room_numbers %} {% if loop.index == 15 %} {{ room_number[0] }} {% endif %} {% endfor %}
                    </p>
                  </div>
                  <div id="RM312" class="RM312">
                    <p>
                      {% for room_number in room_numbers %} {% if loop.index == 16 %} {{ room_number[0] }} {% endif %} {% endfor %}
                    </p>
                  </div>
                  <div id="RM313" class="RM313">
                    <p>
                      {% for room_number in room_numbers %} {% if loop.index == 17 %} {{ room_number[0] }} {% endif %} {% endfor %}
                    </p>
                  </div>                  
                  <div id="RM314" class="RM314">
                    <p>
                      {% for room_number in room_numbers %} {% if loop.index == 18 %} {{ room_number[0] }} {% endif %} {% endfor %}
                    </p>
                  </div>
                  <div id="RM315" class="RM315">
                    <p>
                      {% for room_number in room_numbers %} {% if loop.index == 19 %} {{ room_number[0] }} {% endif %} {% endfor %}
                    </p>
                  </div>
                  <div id="RM316" class="RM316">
                    <p>
                      {% for room_number in room_numbers %} {% if loop.index == 20 %} {{ room_number[0] }} {% endif %} {% endfor %}
                    </p>
                  </div>
                </div>
              </div>
              <div class="Right">
                <div class="Right-content">
                  <div class="Long-empty-right"></div>
                  <div class="smallEmpty-right"></div>
                  <div id="RM301" class="RM301">
                    <p>
                      {% for room_number in room_numbers %} {% if loop.index == 2 %} {{ room_number[0] }} {% endif %} {% endfor %}
                    </p>
                  </div>
                  <div id="RM300" class="RM300">
                    <p>
                      {% for room_number in room_numbers %} {% if loop.index == 1 %} {{ room_number[0] }} {% endif %} {% endfor %}
                    </p>
                  </div>
                  <div class="mediumEmpty-right"></div>
                  <div class="rectangle-right"></div>
                </div>
              </div>
            </div>
            <div class="Next-bttn">
              <img class="Nextbttn-img" src="{{ url_for('static', filename='images/student-rep-rooms-next.png') }}" alt="Next Button" />
            </div>
          </div>
          <div class="Rooms-Status">
            <div class="Available">
              <div class="Available-box"></div>
              <div>Available</div>
            </div>
            <div class="Occupied">
              <div class="Occupied-box"></div>
              <div>Occupied</div>
            </div>
            <div class="Not-Available">
              <div class="Not-Available-box"></div>
              <div>Not Available</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="room313Modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <!-- Your modal content goes here -->
        <h2 class="first-heading">RM 313</h2>
        <h2 class="second-heading">COM ENG ROOM</h2>
        <div class="paragraph-container">
          <p class="first-paragraph">STATUS:</p>
          <p class="second-paragraph">LOCATION: THIRD FLOOR</p>
        </div>
        <!-- New div structure for the layout -->
        <div class="columns-container">
          <div class="left-column">
            <div class="left-top">Left Top Content</div>
            <div class="left-bottom">Left Bottom Content</div>
          </div>
          <div class="right-column">Right Column Content</div>
        </div>
    
        <!-- New container for reservations with the same padding as columns-container -->
        <div class="reservation-container">
          <span>RESERVE NOW</span>
        </div>
        <div class="reservation-details-container">
          <span>RESERVATION TIME</span>
          <span>RESERVATION PURPOSE</span>
        </div>
        <!-- New div with background color below all other divs -->
        <div class="bgcolor-div"></div>
      </div>
    </div>    
    </div>
    
  
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='student-rep/student-rep-home-rooms.js') }}"></script>
  </body>
</html>
