<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='student-rep/student-rep-home.css') }}"/>
</head>
<body>
    <div class="Nav-upper">
        <div class="Menu-Container">
            <img 
        class="Menu_icon"
        src="{{ url_for('static', filename='images/student-rep-menu.png') }}"
        alt="Menu Icon"
        />
        </div>
        <img 
        class="Logo"
        src="{{ url_for('static', filename='images/cearis-logo.png') }}"
        alt="CEA RIS Logo"
        />
        <div class="Acc_Setting-Container">
            <img 
        class="Acc_Settings"
        src="{{ url_for('static', filename='images/student-rep-account.png') }}"
        alt="Account Settings"
        />
        <ul class="Profile-Setting">
            <li><img 
                class="Profile-Icon"
                src="{{ url_for('static', filename='images/student-rep-profile.png') }}"
                alt="Profile Icon">
            Profile</li>
            <li><img 
                class="Change_Password-Icon"
                src="{{ url_for('static', filename='images/student-rep-change-pass.png') }}"
                alt="Change Password Icon">
            Change Password</li>
            <li><img 
                class="Logout-Icon"
                src="{{ url_for('static', filename='images/student-rep-log-out.png') }}"
                alt="Log Out Icon">
            Log Out</li>
        </ul>
        </div>
    </div>
    <div class="Nav-bar">
        <div class="Nav-left">
            <div class="Nav-left_Content">
                <div class="Nav-left_img">
                    <img
                    class="Acc_Edit"
                    src="{{ url_for('static', filename='images/student-rep-acc_edit.png') }}"
                    alt="Account Edit"
                />
                </div>
                <div class="Nav-left_text">
                    <h1><B>CEA RIS</B></h1>
                    <h2>STUDENT REPRESENTATIVE MODULE</h2>
                </div>
            </div>
        </div>
        <div class="Nav-Right">
            <div class="Nav-Right-Content">
                <div class="Home-Icon">
                    <img 
                class="Home-bttn"
                src="{{ url_for('static', filename='images/student-rep-home-icon_clicked.png') }}"
                alt="Home Button"
                />
                <h2 id="HomeLink">Home</h2>
                </div>
                <div class="Policies-Icon">
                    <img 
                class="Policies-bttn"
                src="{{ url_for('static', filename='images/student-rep-policies-icon.png') }}"
                alt="Policies Button"
                />
                <h2>Policies</h2>
                </div>
                <div class="Faqs-Icon">
                    <img 
                class="Faqs-bttn"
                src="{{ url_for('static', filename='images/student-rep-faqs-icon.png') }}"
                alt="FAQs"
                />
                <h2>FAQs</h2>
                </div>
                <div class="AboutUs-Icon">
                    <img 
                class="AboutUs-bttn"
                src="{{ url_for('static', filename='images/student-rep-us-icon.png') }}"
                alt="About Us Button"
                />
                <h2>About Us</h2>
                </div>
                <div class="Contact-Icon">
                    <img 
                class="Contact-bttn"
                src="{{ url_for('static', filename='images/student-rep-contact-icon.png') }}"
                alt="Contact Us Button"
                />
                <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="side-bar-and-content">
        <div class="Side-bar">
            <div class="Side-bar-Contents">
                <div class="Rooms">
                    <div class="Room-img-Container">
                        <img 
                        class="Rooms-img"
                        src="{{ url_for('static', filename='images/student-rep-rooms.png') }}"
                        alt="Rooms Image"
                        />
                </div>
                <div class="Rooms-bttn">
                    <button 
                    id="RoomsId"
                    onclick="handleRoomsButtonClick()">
                        Rooms
                    </button>
                </div>
            </div>
                <div class="Reservations">
                    <div class="Reservation-img-Container">
                        <img 
                        class="Reserve-img"
                        src="{{ url_for('static', filename='images/student-rep-reserve.png') }}"
                        alt="My Reservation Image"
                        />
                    </div>
                    <div>
                        <button class="Reserve-bttn"
                        id="ReserveId"
                        onclick="handleReservationsButtonClick()">
                            My Reservation
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--Contact Us Content-->
        <div class="ContactUS-content">
            <div class="Contact-upper-content">
                <h1>Contact Us</h1>
                <h3>We'd Love To Hear From You.</h3>
            </div>
            <div class="Contact-lower-content">
                <div class="Contact-Phone">
                    <img
                    class="Contact-PhoneImg"
                    src="{{ url_for('static', filename='images/student-rep-contact-phone.png') }}"
                    alt="Phone Icon"
                    />
                    <h3>Call/Text Us</h3>
                    <h4>0912-345-6789</h4>
                </div>
                <div class="Contact-Email">
                    <img
                    class="Contact-EmailImg"
                    src="{{ url_for('static', filename='images/student-rep-contact-email.png') }}"
                    alt="Email Icon"
                    />
                    <h3>E-mail Us</h3>
                    <h4>azurepython@gmail.com</h4>
                </div>
                <div class="Contact-Fb">
                    <img
                    class="Contact-FbImg"
                    src="{{ url_for('static', filename='images/student-rep-contact-fb.png') }}"
                    alt="FB Icon"
                    />
                    <h3>Message Us</h3>
                    <h4>facebook.com/AzurePython</h4>
                </div>
            </div>
        </div>


        <!--About Us Content-->
        <div class="AboutUS-content">
            <div class="AboutUs-Inside">
                <div class="AboutUs-Img">
                    <img
                        class="AboutUs-Image"
                        src="{{ url_for('static', filename='images/student-rep-home-about-us.png') }}"
                        alt="About Us"
                        />
                </div>
                <div class="AboutUs-left-content">
                    <h1>About us.</h1>
                    <div class="AboutUs-Info">
                        <div class="Left-info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="Right-info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

        <!--END OF ABOUT US CONTENT-->

        <!--Policies Content-->
        <div class="Policies-content">
            <div class="Policies-upper-content">
                <h1>CEA RIS Policies</h1>
                <p> Updated 21 October 2023 </p>
            </div>
            <div class="Policies-division-upper-1">
            </div>
            <div class="Policies-first-content">
                <h2>Policy One</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="Policies-division-1"></div>
            <div class="Policies-second-content">
                <h2>Policy Two</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="Policies-division-2"></div>
            <div class="Policies-third-content">
                <h2>Policy Three</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="Policies-division-3"></div>
        </div>

        <!--END OF POLICIES CONTENT-->

        <!--Faqs Content-->
        <div class="FAQS-content">
            <div class="FAQS-upper-content">
                <h1>FAQs</h1>
            </div>
        </div>

        <!--END OF FAQS CONTENT-->

        <div class="Updates-Schedule-Container">
            <div class="Updates-Container">
                <div class="date-container">
                    <div class="month-year">
                        <p id="CurrentMonth">November</p>
                        <p id="CurrentYear">2023</p>
                    </div>
                    <div class="day-container">
                        <h1 id="CurrentDay">20</h1>
                    </div>
                    <div class="current-time">
                        <p id="CurrentHour">14</p>
                        <p>:</p>
                        <p id="CurrentMinute">16</p>
                        <p>:</p>
                        <p id="CurrentSecond">25</p>
                    </div>
                </div>
                <div class="room-availability-container">
                    <div class="no-of-available">
                        <h1>{{ available_count }}</h1>
                    </div>
                    <div class="availability-text">
                        <p>ROOMS AVAILABLE</p>                
                    </div>
                </div>
                <div class="room-inuse-container">
                    <div class="no-of-inuse">   
                        <h1>{{ occupied_count }}</h1>
                    </div>
                    <div class="inuse-text">
                        <p>ROOMS IN USE</p>
                    </div>
                </div>
                <div class="room-maintenance-container">
                    <div class="no-of-maintenance">
                        <h1>{{ maintenance_count }}</h1>
                    </div>
                    <div class="maintenance-text">
                        <p>ROOMS</p>
                        <p>UNDER</p> 
                        <p>MAINTENANCE</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="{{ url_for('static', filename='student-rep/student-rep-home.js') }}"></script>
</body>
</html>