<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='student-rep/student-rep-home.css') }}"/>
</head>
<body>
    <div class="Nav-upper">
        <div class="Menu-Container">
            <img 
        class="Menu_icon"
        src="{{ url_for('static', filename='images/student-rep-menu.png') }}"
        alt="Menu Icon"
        />
        </div>
        <img 
        class="Logo"
        src="{{ url_for('static', filename='images/cearis-logo.png') }}"
        alt="CEA RIS Logo"
        />
        <div class="Acc_Setting-Container">
            <img 
        class="Acc_Settings"
        src="{{ url_for('static', filename='images/student-rep-account.png') }}"
        alt="Account Settings"
        />
        <ul class="Profile-Setting">
            <li><img 
                class="Profile-Icon"
                src="{{ url_for('static', filename='images/student-rep-profile.png') }}"
                alt="Profile Icon">
            Profile</li>
            <li><img 
                class="Change_Password-Icon"
                src="{{ url_for('static', filename='images/student-rep-change-pass.png') }}"
                alt="Change Password Icon">
            Change Password</li>
            <li><img 
                class="Logout-Icon"
                src="{{ url_for('static', filename='images/student-rep-log-out.png') }}"
                alt="Log Out Icon">
            Log Out</li>
        </ul>
        </div>
    </div>
    <div class="Nav-bar">
        <div class="Nav-left">
            <div class="Nav-left_Content">
                <div class="Nav-left_img">
                    <img
                    class="Acc_Edit"
                    src="{{ url_for('static', filename='images/student-rep-acc_edit.png') }}"
                    alt="Account Edit"
                />
                </div>
                <div class="Nav-left_text">
                    <h1><B>CEA RIS</B></h1>
                    <h2>STUDENT REPRESENTATIVE MODULE</h2>
                </div>
            </div>
        </div>
        <div class="Nav-Right">
            <div class="Nav-Right-Content">
                <div class="Home-Icon">
                    <img 
                class="Home-bttn"
                src="{{ url_for('static', filename='images/student-rep-home-icon_clicked.png') }}"
                alt="Home Button"
                />
                <h2 id="HomeLink">Home</h2>
                </div>
                <div class="Policies-Icon">
                    <img 
                class="Policies-bttn"
                src="{{ url_for('static', filename='images/student-rep-policies-icon.png') }}"
                alt="Policies Button"
                />
                <h2>Policies</h2>
                </div>
                <div class="Faqs-Icon">
                    <img 
                class="Faqs-bttn"
                src="{{ url_for('static', filename='images/student-rep-faqs-icon.png') }}"
                alt="FAQs"
                />
                <h2>FAQs</h2>
                </div>
                <div class="AboutUs-Icon">
                    <img 
                class="AboutUs-bttn"
                src="{{ url_for('static', filename='images/student-rep-us-icon.png') }}"
                alt="About Us Button"
                />
                <h2>About Us</h2>
                </div>
                <div class="Contact-Icon">
                    <img 
                class="Contact-bttn"
                src="{{ url_for('static', filename='images/student-rep-contact-icon.png') }}"
                alt="Contact Us Button"
                />
                <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="side-bar-and-content">
        <div class="Side-bar">
            <div class="Side-bar-Contents">
                <div class="Rooms">
                    <div class="Room-img-Container">
                        <img 
                        class="Rooms-img"
                        src="{{ url_for('static', filename='images/student-rep-rooms.png') }}"
                        alt="Rooms Image"
                        />
                </div>
                <div class="Rooms-bttn">
                    <button 
                    id="RoomsId"
                    onclick="handleRoomsButtonClick()">
                        Rooms
                    </button>
                </div>
            </div>
                <div class="Reservations">
                    <div class="Reservation-img-Container">
                        <img 
                        class="Reserve-img"
                        src="{{ url_for('static', filename='images/student-rep-reserve.png') }}"
                        alt="My Reservation Image"
                        />
                    </div>
                    <div>
                        <button class="Reserve-bttn"
                        id="ReserveId"
                        onclick="handleReservationsButtonClick()">
                            My Reservation
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--Contact Us Content-->
        <div class="ContactUS-content">
            <div class="Contact-upper-content">
                <h1>Contact Us</h1>
                <h3>We'd Love To Hear From You.</h3>
            </div>
            <div class="Contact-lower-content">
                <div class="Contact-Phone">
                    <img
                    class="Contact-PhoneImg"
                    src="{{ url_for('static', filename='images/student-rep-contact-phone.png') }}"
                    alt="Phone Icon"
                    />
                    <h3>Call/Text Us</h3>
                    <h4>0912-345-6789</h4>
                </div>
                <div class="Contact-Email">
                    <img
                    class="Contact-EmailImg"
                    src="{{ url_for('static', filename='images/student-rep-contact-email.png') }}"
                    alt="Email Icon"
                    />
                    <h3>E-mail Us</h3>
                    <h4>azurepython@gmail.com</h4>
                </div>
                <div class="Contact-Fb">
                    <img
                    class="Contact-FbImg"
                    src="{{ url_for('static', filename='images/student-rep-contact-fb.png') }}"
                    alt="FB Icon"
                    />
                    <h3>Message Us</h3>
                    <h4>facebook.com/AzurePython</h4>
                </div>
            </div>
        </div>

        <div class="Updates-Schedule-Container">
            <div class="Updates-Container">
                <div class="date-container">
                    <div class="month-year">
                        <p id="CurrentMonth">November</p>
                        <p id="CurrentYear">2023</p>
                    </div>
                    <div class="day-container">
                        <h1 id="CurrentDay">20</h1>
                    </div>
                    <div class="current-time">
                        <p id="CurrentHour">14</p>
                        <p>:</p>
                        <p id="CurrentMinute">16</p>
                        <p>:</p>
                        <p id="CurrentSecond">25</p>
                    </div>
                </div>
                <div class="room-availability-container">
                    <div class="no-of-available">
                        <h1>{{ available_count }}</h1>
                    </div>
                    <div class="availability-text">
                        <p>ROOMS AVAILABLE</p>                
                    </div>
                </div>
                <div class="room-inuse-container">
                    <div class="no-of-inuse">   
                        <h1>{{ occupied_count }}</h1>
                    </div>
                    <div class="inuse-text">
                        <p>ROOMS IN USE</p>
                    </div>
                </div>
                <div class="room-maintenance-container">
                    <div class="no-of-maintenance">
                        <h1>{{ maintenance_count }}</h1>
                    </div>
                    <div class="maintenance-text">
                        <p>ROOMS</p>
                        <p>UNDER</p> 
                        <p>MAINTENANCE</p>
                    </div>
                </div>
            </div>
            <div class="Schedule-Container">
                <div class='calendar-container'>
                    
                    <div class='calendar'>
                        <div class='empty'></div>
                        <div class='planes'>
                            <div class="col col-1">Sunday</div>
                            <div class="col col-2">Monday</div>
                            <div class="col col-3">Tuesday</div>
                            <div class="col col-4">Wednesday</div>
                            <div class="col col-5">Thursday</div>
                            <div class="col col-6">Friday</div>
                            <div class="col col-7">Saturday</div>
                        </div>
                        <div class="times">
                            <div class="row row-1">7:00 AM</div>
                            <div class="row row-2">8:00 AM</div>
                            <div class="row row-3">9:00 AM</div>
                            <div class="row row-4">10:00 AM</div>
                            <div class="row row-5">11:00 AM</div>
                            <div class="row row-6">12:00 PM</div>
                            <div class="row row-7">1:00 PM</div>
                            <div class="row row-8">2:00 PM</div>
                            <div class="row row-9">3:00 PM</div>
                            <div class="row row-10">4:00 PM</div>
                            <div class="row row-11">5:00 PM</div>
                            <div class="row row-12">6:00 PM</div>
                            <div class="row row-13">7:00 PM</div>
                            <div class="row row-14">8:00 PM</div>
                            <div class="row row-15">9:00 PM</div>
                        </div>                          
                        <div class="content">
                            <div id="1">SUN - 7:00 AM-8:00 AM</div>
                            <div id="2">SUN - 8:00 AM-9:00 AM</div>
                            <div id="3">SUN - 9:00 AM-10:00 AM</div>
                            <div id="4">SUN - 10:00 AM-11:00 AM</div>
                            <div id="5">SUN - 11:00 AM-12:00 PM</div>
                            <div id="6">SUN - 12:00 PM-1:00 PM</div>
                            <div id="7">SUN - 1:00 PM-2:00 PM</div>
                            <div id="8">SUN - 2:00 PM-3:00 PM</div>
                            <div id="9">SUN - 3:00 PM-4:00 PM</div>
                            <div id="10">SUN - 4:00 PM-5:00 PM</div>
                            <div id="11">SUN - 5:00 PM-6:00 PM</div>
                            <div id="12">SUN - 6:00 PM-7:00 PM</div>
                            <div id="13">SUN - 7:00 PM-8:00 PM</div>
                            <div id="14">SUN - 8:00 PM-9:00 PM</div>
                            <div id="15">MON - 7:00 AM-8:00 AM</div>
                            <div id="16">MON - 8:00 AM-9:00 AM</div>
                            <div id="17">MON - 9:00 AM-10:00 AM</div>
                            <div id="18">MON - 10:00 AM-11:00 AM</div>
                            <div id="19">MON - 11:00 AM-12:00 PM</div>
                            <div id="20">MON - 12:00 PM-1:00 PM</div>
                            <div id="21">MON - 1:00 PM-2:00 PM</div>
                            <div id="22">MON - 2:00 PM-3:00 PM</div>
                            <div id="23">MON - 3:00 PM-4:00 PM</div>
                            <div id="24">MON - 4:00 PM-5:00 PM</div>
                            <div id="25">MON - 5:00 PM-6:00 PM</div>
                            <div id="26">MON - 6:00 PM-7:00 PM</div>
                            <div id="27">MON - 7:00 PM-8:00 PM</div>
                            <div id="28">MON - 8:00 PM-9:00 PM</div>
                            <div id="29">TUES - 7:00 AM-8:00 AM</div>
                            <div id="30">TUES - 8:00 AM-9:00 AM</div>
                            <div id="31">TUES - 9:00 AM-10:00 AM</div>
                            <div id="32">TUES - 10:00 AM-11:00 AM</div>
                            <div id="33">TUES - 11:00 AM-12:00 PM</div>
                            <div id="34">TUES - 12:00 PM-1:00 PM</div>
                            <div id="35">TUES - 1:00 PM-2:00 PM</div>
                            <div id="36">TUES - 2:00 PM-3:00 PM</div>
                            <div id="37">TUES - 3:00 PM-4:00 PM</div>
                            <div id="38">TUES - 4:00 PM-5:00 PM</div>
                            <div id="39">TUES - 5:00 PM-6:00 PM</div>
                            <div id="40">TUES - 6:00 PM-7:00 PM</div>
                            <div id="41">TUES - 7:00 PM-8:00 PM</div>
                            <div id="42">TUES - 8:00 PM-9:00 PM</div>
                            <div id="43">WED - 7:00 AM-8:00 AM</div>
                            <div id="44">WED - 8:00 AM-9:00 AM</div>
                            <div id="45">WED - 9:00 AM-10:00 AM</div>
                            <div id="46">WED - 10:00 AM-11:00 AM</div>
                            <div id="47">WED - 11:00 AM-12:00 PM</div>
                            <div id="48">WED - 12:00 PM-1:00 PM</div>
                            <div id="49">WED - 1:00 PM-2:00 PM</div>
                            <div id="50">WED - 2:00 PM-3:00 PM</div>
                            <div id="51">WED - 3:00 PM-4:00 PM</div>
                            <div id="52">WED - 4:00 PM-5:00 PM</div>
                            <div id="53">WED - 5:00 PM-6:00 PM</div>
                            <div id="54">WED - 6:00 PM-7:00 PM</div>
                            <div id="55">WED - 7:00 PM-8:00 PM</div>
                            <div id="56">WED - 8:00 PM-9:00 PM</div>
                            <div id="57">THURS - 7:00 AM-8:00 AM</div>
                            <div id="58">THURS - 8:00 AM-9:00 AM</div>
                            <div id="59">THURS - 9:00 AM-10:00 AM</div>
                            <div id="60">THURS - 10:00 AM-11:00 AM</div>
                            <div id="61">THURS - 11:00 AM-12:00 PM</div>
                            <div id="62">THURS - 12:00 PM-1:00 PM</div>
                            <div id="63">THURS - 1:00 PM-2:00 PM</div>
                            <div id="64">THURS - 2:00 PM-3:00 PM</div>
                            <div id="65">THURS - 3:00 PM-4:00 PM</div>
                            <div id="66">THURS - 4:00 PM-5:00 PM</div>
                            <div id="67">THURS - 5:00 PM-6:00 PM</div>
                            <div id="68">THURS - 6:00 PM-7:00 PM</div>
                            <div id="69">THURS - 7:00 PM-8:00 PM</div>
                            <div id="70">THURS - 8:00 PM-9:00 PM</div>
                            <div id="71">FRI - 7:00 AM-8:00 AM</div>
                            <div id="72">FRI - 8:00 AM-9:00 AM</div>
                            <div id="73">FRI - 9:00 AM-10:00 AM</div>
                            <div id="74">FRI - 10:00 AM-11:00 AM</div>
                            <div id="75">FRI - 11:00 AM-12:00 PM</div>
                            <div id="76">FRI - 12:00 PM-1:00 PM</div>
                            <div id="77">FRI - 1:00 PM-2:00 PM</div>
                            <div id="78">FRI - 2:00 PM-3:00 PM</div>
                            <div id="79">FRI - 3:00 PM-4:00 PM</div>
                            <div id="80">FRI - 4:00 PM-5:00 PM</div>
                            <div id="81">FRI - 5:00 PM-6:00 PM</div>
                            <div id="82">FRI - 6:00 PM-7:00 PM</div>
                            <div id="83">FRI - 7:00 PM-8:00 PM</div>
                            <div id="84">FRI - 8:00 PM-9:00 PM</div>
                            <div id="85">SAT - 7:00 AM-8:00 AM</div>
                            <div id="86">SAT - 8:00 AM-9:00 AM</div>
                            <div id="87">SAT - 9:00 AM-10:00 AM</div>
                            <div id="88">SAT - 10:00 AM-11:00 AM</div>
                            <div id="89">SAT - 11:00 AM-12:00 PM</div>
                            <div id="90">SAT - 12:00 PM-1:00 PM</div>
                            <div id="91">SAT - 1:00 PM-2:00 PM</div>
                            <div id="92">SAT - 2:00 PM-3:00 PM</div>
                            <div id="93">SAT - 3:00 PM-4:00 PM</div>
                            <div id="94">SAT - 4:00 PM-5:00 PM</div>
                            <div id="95">SAT - 5:00 PM-6:00 PM</div>
                            <div id="96">SAT - 6:00 PM-7:00 PM</div>
                            <div id="97">SAT - 7:00 PM-8:00 PM</div>
                            <div id="98">SAT - 8:00 PM-9:00 PM</div>
                    </div>
                </div>
                <div class="modal-container">
                    <div class="modal">
                        <span class='modal-container--close'>&times;</span>
                          <h3>Book a class!</h3>
                          <form class='modal-container--form'>
                            <label for="start-select">Start time</label>
                            <select id='start-select'>
                                <option value="7:00 AM">7:00 AM</option>
                                <option value="8:00 AM">8:00 AM</option>
                                <option value="9:00 AM">9:00 AM</option>
                                <option value="10:00 AM">10:00 AM</option>
                                <option value="11:00 AM">11:00 AM</option>
                                <option value="12:00 PM">12:00 PM</option>
                                <option value="1:00 PM">1:00 PM</option>
                                <option value="2:00 PM">2:00 PM</option>
                                <option value="3:00 PM">3:00 PM</option>
                                <option value="4:00 PM">4:00 PM</option>
                                <option value="5:00 PM">5:00 PM</option>
                                <option value="6:00 PM">6:00 PM</option>
                                <option value="7:00 PM">7:00 PM</option>
                                <option value="8:00 PM">8:00 PM</option>
                                <option value="9:00 PM">9:00 PM</option>
                            </select>
                            <label for="end-select">End time</label>
                            <select id='end-select'>
                                <option value="7:00 AM">7:00 AM</option>
                                <option value="8:00 AM">8:00 AM</option>
                                <option value="9:00 AM">9:00 AM</option>
                                <option value="10:00 AM">10:00 AM</option>
                                <option value="11:00 AM">11:00 AM</option>
                                <option value="12:00 PM">12:00 PM</option>
                                <option value="1:00 PM">1:00 PM</option>
                                <option value="2:00 PM">2:00 PM</option>
                                <option value="3:00 PM">3:00 PM</option>
                                <option value="4:00 PM">4:00 PM</option>
                                <option value="5:00 PM">5:00 PM</option>
                                <option value="6:00 PM">6:00 PM</option>
                                <option value="7:00 PM">7:00 PM</option>
                                <option value="8:00 PM">8:00 PM</option>
                                <option value="9:00 PM">9:00 PM</option>
                            </select>
                            <button type="submit">Submit</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='student-rep/student-rep-home.js') }}"></script>
</body>
</html>