<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CEA Room Information System (Beta)</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='admin/admin-login.css') }}"
    />
  </head>
  <body>
    <div class="background-login">
      <div class="login-credentials-container">
        <div class="text-login-credentials">
          <h1 class="faculty-rep-text">
            CEA RIS -
            <span class="bold-text">ADMIN MODULE</span>
          </h1>

          <div class="logo-login">
            <img
              src="{{ url_for('static', filename='images/cearis-logo.png') }}"
              alt="cearis-logo"
            />
          </div>

          <div class="input-container">
            <div class="faculty-number-input">
              <input type="text" placeholder="Faculty Number" />
            </div>
            <div class="password-input">
              <input type="password" placeholder="Password" />
            </div>
            <button
              class="button-container"
              id="admin-login-btn"
              data-route="{{ url_for('views.student_rep_home') }}"
            >
              LOGIN
            </button>
          </div>
          <div class="forgot-pass">
            <a href="#">Forgot Password?</a>
          </div>
        </div>
        <div class="top-designer"></div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='student-rep/student-rep-login.js') }}"></script>
  </body>
</html>
