<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CEA Room Information System</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="center-box">
      <img
        class="pup-logo"
        style="margin-bottom: -90px"
        src="{{ url_for('static', filename='images/pup_logo.png') }}"
        alt="PUP LOGO"
      />
      <h1 class="body-text" style="font-size: 30px; margin-bottom: -100px">
        CEA ROOM INFORMATION SYSTEM
      </h1>
      <h2 class="body-text" style="font-size: 20px">CHOOSE DESTINATION:</h2>
      <div class="button-row" style="margin-top: -60px">
        <button
          class="landing-page-button"
          id="studentRepButton"
          data-route="{{ url_for('views.student_rep') }}"
        >
          <img
            class="login-redirect-image"
            src="{{ url_for('static', filename='images/student-rep-redirect-img.png') }}"
            alt="STUDENT REP REDIRECT"
          />
          <h3 class="redirect-img-text">STUDENT REP</h3>
        </button>

        <button
          class="landing-page-button"
          id="adminButton"
          data-route="{{ url_for('views.admin') }}"
        >
          <img
            class="login-redirect-image"
            src="{{ url_for('static', filename='images/admin-redirect-img.png') }}"
            alt="STUDENT REP REDIRECT"
          />
          <h3 class="redirect-img-text">ADMIN</h3>
        </button>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
