<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CEARIS - Site Map (Beta)</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='site-map.css') }}"
    />
  </head>
  <body>
    <div class="image-section clickable" onclick="bringToFront(this)">
      <img
        src="{{ url_for('static', filename='images/landing-page-not-logged-in.png') }}"
        alt="landing-page-not-logged-in"
      />
    </div>
    <div class="row-landing-page-redirects">
      <div class="column-landing-page-redirects">
        <div class="image-section clickable" onclick="bringToFront(this)">
          <img
            src="{{ url_for('static', filename='images/student-rep-dashboard.png') }}"
            alt="student-rep-dashboard"
          />
        </div>
        <div class="row-student-rep-admin-dashboard">
          <div class="image-section clickable" onclick="bringToFront(this)">
            <img
              src="{{ url_for('static', filename='images/rooms-webpage.png') }}"
              alt="rooms-webpage"
            />
          </div>
          <div class="image-section clickable" onclick="bringToFront(this)">
            <img
              src="{{ url_for('static', filename='images/my-reservations-webpage.png') }}"
              alt="my-reservations-webpage"
            />
          </div>
          <div class="image-section clickable" onclick="bringToFront(this)">
            <img
              src="{{ url_for('static', filename='images/about-us-webpage.png') }}"
              alt="about-us-webpage"
            />
          </div>
          <div class="image-section clickable" onclick="bringToFront(this)">
            <img
              src="{{ url_for('static', filename='images/student-rep-profile-webpage.png') }}"
              alt="student-rep-profile-webpage"
            />
          </div>
        </div>
      </div>
      <div class="column-landing-page-redirects">
        <div class="image-section clickable" onclick="bringToFront(this)">
          <img
            src="{{ url_for('static', filename='images/admin-dashboard.png') }}"
            alt="admin-dashboard"
          />
        </div>
        <div class="row-student-rep-admin-dashboard">
          <div class="image-section clickable" onclick="bringToFront(this)">
            <img
              src="{{ url_for('static', filename='images/statistics-overview-webpage.png') }}"
              alt="statistics-overview-webpage"
            />
          </div>
          <div class="image-section clickable" onclick="bringToFront(this)">
            <img
              src="{{ url_for('static', filename='images/user-management-webpage.png') }}"
              alt="user-management-webpage"
            />
          </div>
          <div class="image-section clickable" onclick="bringToFront(this)">
            <img
              src="{{ url_for('static', filename='images/room-management-webpage.png') }}"
            />
          </div>
          <div class="image-section clickable" onclick="bringToFront(this)">
            <img
              src="{{ url_for('static', filename='images/reservation-management-webpage.png') }}"
              alt="reservation-management-webpage"
            />
          </div>
          <div class="image-section clickable" onclick="bringToFront(this)">
            <img
              src="{{ url_for('static', filename='images/admin-profile-webpage.png') }}"
              alt="admin-profile-webpage"
            />
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='site-map.js') }}"></script>
  </body>
</html>
