<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='student-rep-home.css') }}"/>
</head>
<body>
    <div class="Nav-upper">
        <img 
        class="Menu_icon"
        src="{{ url_for('static', filename='images/student-rep-menu.png') }}"
        alt="Menu Icon"
        />
        <img 
        class="Logo"
        src="{{ url_for('static', filename='images/cearis-logo.png') }}"
        alt="CEA RIS Logo"
        />
        <img 
        class="Acc_Settings"
        src="{{ url_for('static', filename='images/student-rep-account.png') }}"
        alt="Account Settings"
        />
    </div>
    <div class="Nav-left">
        <div class="Nav-left_Content">
            <div class="Nav-left_img">
                <img
                class="Acc_Edit"
                src="{{ url_for('static', filename='images/student-rep-acc_edit.png') }}"
                alt="Account Edit"
            />
            </div>
            <div class="Nav-left_text">
                <h1><B>CEA RIS</B></h1>
                <h2>STUDENT REPRESENTATIVE MODULE</h2>
            </div>
        </div>
    </div>
</body>
</html>