<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='student-rep-home.css') }}"/>
</head>
<body>
    <div class="Nav-upper">
        <img 
        class="Menu_icon"
        src="{{ url_for('static', filename='images/student-rep-menu.png') }}"
        alt="Menu Icon"
        />
        <img 
        class="Logo"
        src="{{ url_for('static', filename='images/cearis-logo.png') }}"
        alt="CEA RIS Logo"
        />
        <img 
        class="Acc_Settings"
        src="{{ url_for('static', filename='images/student-rep-account.png') }}"
        alt="Account Settings"
        />
    </div>
    <div class="Nav-bar">
        <div class="Nav-left">
            <div class="Nav-left_Content">
                <div class="Nav-left_img">
                    <img
                    class="Acc_Edit"
                    src="{{ url_for('static', filename='images/student-rep-acc_edit.png') }}"
                    alt="Account Edit"
                />
                </div>
                <div class="Nav-left_text">
                    <h1><B>CEA RIS</B></h1>
                    <h2>STUDENT REPRESENTATIVE MODULE</h2>
                </div>
            </div>
        </div>
        <div class="Nav-Right">
            <div class="Nav-Right-Content">
                <div class="Home-Icon">
                    <img 
                class="Home-bttn"
                src="{{ url_for('static', filename='images/student-rep-home-icon_clicked.png') }}"
                alt="Home Button"
                />
                <h2 id="HomeLink">Home</h2>
                </div>
                <div class="Policies-Icon">
                    <img 
                class="Policies-bttn"
                src="{{ url_for('static', filename='images/student-rep-policies-icon.png') }}"
                alt="Policies Button"
                />
                <h2>Policies</h2>
                </div>
                <div class="Faqs-Icon">
                    <img 
                class="Faqs-bttn"
                src="{{ url_for('static', filename='images/student-rep-faqs-icon.png') }}"
                alt="FAQs"
                />
                <h2>FAQs</h2>
                </div>
                <div class="AboutUs-Icon">
                    <img 
                class="AboutUs-bttn"
                src="{{ url_for('static', filename='images/student-rep-us-icon.png') }}"
                alt="About Us Button"
                />
                <h2>About Us</h2>
                </div>
                <div class="Contact-Icon">
                    <img 
                class="Contact-bttn"
                src="{{ url_for('static', filename='images/student-rep-contact-icon.png') }}"
                alt="Contact Us Button"
                />
                <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="side-bar-and-content">
        <div class="Side-bar">
            <div class="Rooms">
                <div class="Room-img-Container">
                    <img 
                    class="Rooms-img"
                    src="{{ url_for('static', filename='images/student-rep-rooms.png') }}"
                    alt="Rooms Image"
                    />
            </div>
            <div class="Rooms-bttn">
                <button onclick="handleRoomsButtonClick()">
                    Rooms
                </button>
            </div>
            <div class="Reservations">
                <div class="Reservation-img-Container">
                    <img 
                    class="Reserve-img"
                    src="{{ url_for('static', filename='images/student-rep-reserve.png') }}"
                    alt="My Reservation Image"
                    />
                </div>
                <div class="Reserve-bttn">
                    <button onclick="handleReservationsButtonClick()">
                        My Reservation
                    </button>
                </div>
            </div>
        </div>
        </div>
        <div class="Updates-Schedule-Container">
            <div class="Updates-Container">
                <div class="date-container">
                    <div class="month-year">
                        <p>November</p>
                        <p>2023</p>
                    </div>
                    <div class="day-container">
                        <h1>20</h1>
                    </div>
                    <div class="current-time">
                        <p>14</p>
                        <p>:</p>
                        <p>16</p>
                        <p>:</p>
                        <p>25</p>
                    </div>
                </div>
                <div class="room-availability-container">
                    <div class="no-of-available">
                        <h1>21</h1>
                    </div>
                    <div class="availability-text">
                        <p>ROOMS AVAILABLE</p>                
                    </div>
                </div>
                <div class="room-inuse-container">
                    <div class="no-of-inuse">
                        <h1>17</h1>
                    </div>
                    <div class="inuse-text">
                        <p>ROOMS IN USE</p>
                    </div>
                </div>
                <div class="room-maintenance-container">
                    <div class="no-of-maintenance">
                        <h1>03</h1>
                    </div>
                    <div class="maintenance-text">
                        <p>ROOMS</p>
                        <p>UNDER</p> 
                        <p>MAINTENANCE</p>
                    </div>
                </div>
            </div>
            <div class="Schedule-Container">
                <h2>Coming Soon!</h2>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='student-rep-home.js') }}"></script>
</body>
</html>