* {
    box-sizing: border-box;
  }

@font-face {
    font-family: 'Cardo-Regular';
    src: url('../static/fonts/Cardo-Regular.ttf') format('truetype');
}
  html {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  div {
    display: block;
  }
  body {
    box-sizing: border-box;
    background: linear-gradient(135deg, #ffffff, #dfdfdf);
    margin: auto;
    padding: 0;
    height: auto;
    overflow: auto;
    font-family: 'Cardo-Regular';
  }
  .Nav-upper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    height: 70px;
  }
  div.Menu-Container {
    margin-right: auto;
    margin-left: 20px;
  }
  .Menu_icon {
    height: 37px;
    width: 37px;
    padding: 5px;
    cursor: pointer;
  }
  .Menu_icon:hover {
    background-color: rgba(166, 166, 166, 0.2);
    border-radius: 5px;
  }
  .Logo {
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  div.Acc_Setting-Container {
    margin-left: auto;
    margin-right: 20px;
  }
  .Acc_Settings {
    height: 45px;
    width: 45px;
    cursor: pointer;
  }
  ul.Profile-Setting {
    display: none;
    list-style: none;
    width: 200px;
    height: 130px;
    position: absolute;
    background-color: whitesmoke;
    color: #abb0b8;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: -150px;
    margin-top: -5px;
    border: 2px solid;
    border-image: linear-gradient(180deg, #612d39, #531b2e, #3d1226, #31111e);
    border-image-slice: 1;
    border-radius: 7px;
  }
  ul.Profile-Setting li {
    font-size: 1rem;
    color: #810403;
    margin-top: 12px;
    padding: 0;
    cursor: pointer;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  img.Profile-Icon, img.Change_Password-Icon, img.Logout-Icon {
    height: 25px;
    width: 25px;
    margin-right: 5px;
  }
  .Nav-bar {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .Nav-left {
    display: flex;
    align-items: center;
    width: 270px;
    height: 80px;
    margin-right: 0;
    background-color: #ffffff;
    margin-top: 5px;
  }
  .Nav-left_Content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
  }
  .Nav-left_img img{
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  .Nav-left_text h1 {
    font-size: 16px;
    color: #810403;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
  }
  .Nav-left_text h2 {
    font-size: 14px;
    color: #810403;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
  }
  .Nav-left_Content > .Nav-left_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
  }
  .Nav-bar > .Nav-Right {
    width: calc(100% - 270px);
    height: 80px;
    background-color: #ffffff;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .Nav-Right > .Nav-Right-Content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
  }
  .Nav-Right > .Nav-Right-Content > .Search-Icon {
    padding: 5px;
  }
  .Nav-Right > .Nav-Right-Content > .Search-Icon:hover {
    background-color: rgba(166, 166, 166, 0.2);
    border-radius: 7px;
    cursor: pointer;
  }
  .Nav-Right-Content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.Nav-Right-Content > div img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    cursor: pointer;
}
.Nav-Right-Content > div h2 {
    font-size: 15px;
    font-weight: 400;
    color: #810403;
    cursor: pointer;
    display: flex;
}

.Side-bar {
    display: flex;
    align-items: center;
    width: 270px;
    height: 750px;
    margin-right: 0;
    background-color: #810403;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-top: 4px solid #DBA729;
  }
  .Side-bar > .Side-bar-Contents > .Rooms, .Reservations {
    width: 220px;
    height: 270px;
    background-color: rgba(128, 128, 128, 0.5);
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    opacity: 4;
    margin-top: 50px;
  }
  .Side-bar > .Side-bar-Contents > .Rooms, .Reservations{
    height: 320px;
  }

  div.Reservations {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .Side-bar > .Side-bar-Contents > .Reservations > .Reservation-img-Container {
    width: 220px;
    height: 270px;
  }
  .Side-bar > .Side-bar-Contents > .Rooms > .Room-img-Container {
    width: 220px;
    height: 270px;
    cursor: pointer;
  }
  div.Reservation-img-Container {
    width: 220px;
    height: 270px;
  }
  .Side-bar > .Side-bar-Contents > .Rooms > .Room-img-Container img, .Reservations > .Reservation-img-Container img {
    height: 130px;
    width: 130px;
  }
  .Rooms > .Room-img-Container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Rooms > .Room-img-Container:hover {
    cursor: pointer;
  }
  .Reservations > .Reservation-img-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .Reservations > .Reservation-img-Container:hover {
    cursor: pointer;
  }
   div.Rooms > .Rooms-bttn button {
    height: 50px;
    width: 220px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 10px;
    font-family: 'Cardo-Regular';
    font-size: 1.2rem;
    color: #DBA729;
    border-bottom: 7px solid #DBA729;
    cursor: pointer;
    padding: 12px;
    box-sizing: border-box;
  }
  div.Rooms > .Rooms-bttn button:hover {
    color: #DBA729;
  }
  button.Reserve-bttn{
    height: 50px;
    width: 220px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 20px;
    font-family: 'Cardo-Regular';
    font-size: 1.2rem;
    color: #810403;
    cursor: pointer;
  }

  .side-bar-and-content {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .side-bar-and-content > .Rooms-Container {
    width: calc(100% - 290px);
    height: 750px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 10px;
  }

  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container {
    height:730px;
    width: 100%; 
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-radius: 10px;
  }
  .side-bar-and-content > .Rooms-Container {
    display: flex;
    flex-direction: column;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #ffffff;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Floor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: -70px;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Floor h1 {
    width: 230px;
    font-family: 'Cardo-Regular', sans-serif;
    font-size: 1.7rem;
    color: #810403;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px #810403;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container {
    width: 95%;
    height: 70%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Back-bttn img{
    height: 30px;
    width: 30px;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Back-bttn img:hover{
    cursor: pointer;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Next-bttn img{
    height: 30px;
    width: 30px;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Next-bttn img:hover {
    cursor: pointer;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan {
    height: 85%;
    width: 80%;
    background: linear-gradient(135deg, #545454, #b0b0b0);
    display: flex;

  }

  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column> .Room302-306 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room302-306 div {
    height: 90px;
    width: 60px;
    background: linear-gradient(135deg, #810403, #492b37);
    box-shadow: 0 0 2px white;
    font-size: 1rem;
    color: white;
    font-family: 'Cardo-Regular';
    text-align: center;
    display: flex;
    padding-right: 6px;
    padding-left: 6px;
    align-items: center;
  }
  span.capturedRM {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  /* Room 302 - 306 Hover*/

  #RM302:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  #RM303a:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
 #RM303b:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  #RM304a:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  #RM304b:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  #RM305a:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  #RM305b:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  #RM306a:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  #RM306b:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }


  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-left {
    display: flex;
    flex-direction: row;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-left > .RM319-320 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-left > .RM319-320 div {
    height: 60px;
    width: 80px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
    font-size: 1rem;
    color: black;
    font-family: 'Cardo-Regular', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-right: 5px;
    align-items: center;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column> .Room-middle > .Rooms-left > .RM319-320 div p {
    width: 40px;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-left > .RM-empty div {
    height: 150px;
    width: 80px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
    font-size: 1rem;
    color: black;
    font-family: 'Cardo-Regular', sans-serif;
    text-align: center;
    display: flex;
    padding-right: 5px;
    align-items: center;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-left > .RM321-323 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-left > .RM321-323 div {
    height: 50px;
    width: 80px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
    font-size: 1rem;
    color: black;
    font-family: 'Cardo-Regular', sans-serif;
    text-align: center;
    display: flex;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-left > .RM321-323 div p {
    width: 40px;
  }
  
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-right {
    display: flex;
    flex-direction: row;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-right > .small-Empty {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-right > .small-Empty div {
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-right > .medium-Empty div {
    height: 60px;
    width: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-right > .big-Empty div {
    height: 150px;
    width: 110px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-right > .RM18 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    height: auto;
    width: auto;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-right > .RM18 div {
    height: 110px;
    width: 50px;
    background: linear-gradient(135deg, #810403, #492b37);
    box-shadow: 0 0 2px white;
    font-size: 1rem;
    color: white;
    font-family: 'Cardo-Regular';
    text-align: center;
    display: flex;
    justify-content: center;
    padding-right: 5px;
    align-items: center;
  }

  div#RM318.RM318 span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.RM318:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }

  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room-middle > .Rooms-right > .RM18 div p {
    width: 30px;
  }

  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column> .Room310-316 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room310-316 div {
    height: 90px;
    width: 77px;
    background: linear-gradient(135deg, #810403, #492b37);
    box-shadow: 0 0 2px white;
    font-size: 1rem;
    color: white;
    font-family: 'Cardo-Regular';
    text-align: center;
    display: flex;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
  }

  div#RM310.RM310 span, div#RM311.RM311 span, div#RM312.RM312 span, div#RM313.RM313 span, div#RM314.RM314 span, div#RM315.RM315 span, div#RM316.RM316 span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.RM310:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  div.RM311:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  div.RM312:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  div.RM313:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  div.RM314:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  div.RM315:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  div.RM316:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }

  .side-bar-and-content > .Rooms-Container > .Rooms-List-Container > .Rooms-Floor-Plan-Container > .Rooms-Floor-Plan > .Rooms-column > .Room310-316 div p {
    width: 40px;
  }

  div.left {
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  div.Left-content {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  div.Long-empty-left {
    margin-top: auto;
    height: 85px;
    width: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
  }
  div.smallEmpty-left {
    height: 20px;
    width: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
  }
  div.RM307, div.RM308 {
    height: 90px;
    width: 90px;
    background: linear-gradient(135deg, #810403, #492b37);
    box-shadow: 0 0 2px white;
    font-size: 1rem;
    color: white;
    font-family: 'Cardo-Regular';
    text-align: center;
    display: flex;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
  }

  div#RM307.RM307 span, div#RM308.RM308 span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.RM307:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  div.RM308:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }

  div.RM307 p, div.RM308 p {
    width: 40px;
    margin: 0;
  }
  div.mediumEmpty-left {
    height: 40px;
    width: 55px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
  }
  div.rectangle-left {
    height: 50px;
    width: 95px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
  }

  div.Right {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
  }
  div.Right-content {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  div.Long-empty-right {
    margin-top: auto;
    height: 85px;
    width: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
  }
  div.smallEmpty-right {
    height: 20px;
    width: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
  }
  div.RM301, div.RM300 {
    height: 90px;
    width: 90px;
    background: linear-gradient(135deg, #810403, #492b37);
    box-shadow: 0 0 2px white;
    font-size: 1rem;
    color: white;
    font-family: 'Cardo-Regular';
    text-align: center;
    display: flex;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
  }

  div#RM301.RM301 span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div#RM300.RM300 span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.RM301:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }
  div.RM300:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #337656, #314b4b)!important;
    color: #DBA729!important;
    box-shadow: 0 0 2px #DBA729!important;
  }

  div.RM301 p, div.RM300 p {
    width: 40px;
    margin: 0;
  }
  div.mediumEmpty-right {
    height: 40px;
    width: 55px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
  }
  div.rectangle-right {
    height: 50px;
    width: 95px;
    background-color: #ffffff;
    box-shadow: 0 0 2px black;
  }

  div.Rooms-Status {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  div.Available {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  div.Available-box {
    height: 15px;
    width: 15px;
    background: linear-gradient(135deg, #337656, #314b4b);
    border: 2px solid black;
    display: flex;
    align-items: center;
  }
  div.Available div {
    font-size: 1rem;
    color: #810403;
    font-family: 'Cardo-Regular', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.Occupied {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  div.Occupied-box {
    height: 15px;
    width: 15px;
    background: linear-gradient(135deg, #810403, #492b37);
    border: 2px solid black;
    display: flex;
    align-items: center;
  }
  div.Occupied div {
    font-size: 1rem;
    color: #810403;
    font-family: 'Cardo-Regular', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.Not-Available {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  div.Not-Available-box {
    height: 15px;
    width: 15px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
  }
  div.Not-Available div {
    font-size: 1rem;
    color: #810403;
    font-family: 'Cardo-Regular', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Nav-bar > .Nav-Right > .Nav-Right-Content > .Search {
    height: 400px;
    width: 350px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border: 1.5px solid black;
    z-index: 1;
    margin-top: 80px; 
    margin-right: 20px;
    display: none;
    flex-direction: column;
  }

  .Nav-bar > .Nav-Right > .Nav-Right-Content > .Search > .search-option {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
  .Nav-bar > .Nav-Right > .Nav-Right-Content > .Search > .search-option div {
    height: auto;
    width: 174px;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 10px;
    border-bottom: 2px solid #E8E8E8;
  }
  .Nav-bar > .Nav-Right > .Nav-Right-Content > .Search > .search-option div:hover {
    border-bottom: 2px solid #DBA729;
    cursor: pointer;
  }
  .Nav-bar > .Nav-Right > .Nav-Right-Content > .Search > .search-option > .Room-name{
    font-size: 1rem;
    font-weight: 600;
    color: #810403;
    font-family: 'Cardo-Regular', sans-serif;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .Nav-bar > .Nav-Right > .Nav-Right-Content > .Search > .search-option > .Room-name:hover {
    color: #DBA729;
  }
  .Nav-bar > .Nav-Right > .Nav-Right-Content > .Search > .search-option > .Time {
    font-size: 1rem;
    font-weight: 600;
    color: #810403;
    font-family: 'Cardo-Regular', sans-serif;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .Nav-bar > .Nav-Right > .Nav-Right-Content > .Search > .search-option > .Time:hover {
    color: #DBA729;
  }


  .Nav-bar > .Nav-Right > .Nav-Right-Content > .Search > .Search-bar input {
    height: auto;
    width: 300px;
    background-color: white;
    border: 2px solid #810403;
    border-radius: 44px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 0.85rem;
    color: black;
    margin-top: 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .Nav-bar > .Nav-Right > .Nav-Right-Content > .Search > .Search-bar input:hover {
    border: 2px solid #DBA729;
  }
  .Nav-bar > .Nav-Right > .Nav-Right-Content > .Search > .recent-Searches {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #810403;
    font-family: 'Cardo-Regular', sans-serif;
  }


  

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 3% auto;
    padding: 60px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Cardo-Regular';
  }
  body.modal-open {
    overflow: hidden;
  }
  
.first-heading {
    margin-top: -10px;
    color: #612d39;
    margin-bottom: -2px;
    text-align: center;
    font-family: 'Cardo-Regular', sans-serif;
}

.second-heading {
    color: #612d39;
    border-bottom: 2px solid #000; 
    padding-bottom: 10px; 
    display: inline-block;
    width: 250px;
    text-align: center;
    font-size: 15px; 
    font-weight: 300;
    font-family: 'Cardo-Regular', sans-serif;
    margin: 0 auto;
    margin-bottom: 30px;
}

.paragraph-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; 
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px; 
  font-weight: 300;
  font-family: 'Cardo-Regular', sans-serif;
}

.first-paragraph,
.second-paragraph {
  margin: 0;
}
.columns-container {
  display: flex;
  width: 100%; 
}

.left-column {
  flex: 60%; 
  padding-top: 30px;
  padding-right: 30px;
  height: 500px;
  
}

.left-top,
.left-bottom {
  flex: 1;
  height: 190px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-bottom > .leftBottom-content {
  width: 94%;
  height: 90%;
  background-color: transparent;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.left-bottom > .leftBottom-content > .left-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 49%;
  margin-top: 8px;
}
.left-bottom > .leftBottom-content > .left-upper > .computers {
  height: 90%;
  width: 48%;
  border: 1px solid #3D1226;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.left-bottom > .leftBottom-content > .left-upper > .computers img {
  height: 50px;
  width: 50px;
}
.left-bottom > .leftBottom-content > .left-upper > .computers p {
  font-family: 'Cardo-Regular';
  color: #612D39;
  margin-right: 15px;
}

.left-bottom > .leftBottom-content > .left-upper > .air-con {
  height: 90%;
  width: 48%;
  border: 1px solid #3D1226;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.left-bottom > .leftBottom-content > .left-upper > .air-con img {
  height: 50px;
  width: 50px;
}
.left-bottom > .leftBottom-content > .left-upper > .air-con p {
  font-family: 'Cardo-Regular';
  color: #612D39;
  margin-right: 15px;
}

.left-bottom > .leftBottom-content > .left-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 49%;
  margin-top: 10px;
}
.left-bottom > .leftBottom-content > .left-lower > .arm-chairs {
  height: 90%;
  width: 48%;
  border: 1px solid #3D1226;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.left-bottom > .leftBottom-content > .left-lower > .arm-chairs img {
  height: 50px;
  width: 50px;
}
.left-bottom > .leftBottom-content > .left-lower > .arm-chairs p {
  font-family: 'Cardo-Regular';
  color: #612D39;
  margin-right: 15px;
}

.left-bottom > .leftBottom-content > .left-lower > .tables {
  height: 90%;
  width: 48%;
  border: 1px solid #3D1226;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.left-bottom > .leftBottom-content > .left-lower > .tables img {
  height: 50px;
  width: 50px;
}
.left-bottom > .leftBottom-content > .left-lower > .tables p {
  font-family: 'Cardo-Regular';
  color: #612D39;
  margin-right: 15px;
}

.right-column {
  margin-top: 30px;
  padding-top: 30px;
  border-radius: 20px;
  padding-right: 30px;
  flex: 40%; 
  height: 400px;
  background-color: rgb(58, 255, 225);
  border: 1px solid #000;
}
.bgcolor-div {
  position: relative;
  z-index: -1; 
  margin-top: -680px; 
  height: 1000px;
  background-color: #612d39;
  border-radius: 25px;
  width: 100vw; 
  margin-left: -65px;
  margin-right: 15px;
}

.reservation-container {
  display: flex;
  height: 90px;
  border-radius: 25px;
  padding-left: 0; 
  padding-right: 0;
  font-size: 15px;
  background: #612d39;
  text-align: center;
  color: white;
  font-family: 'Cardo-Regular';
  justify-content: center; 
  align-items: center; 
  margin-top: -50px;
}

.reservation-container span {
  display: block; 
  line-height: 50px;
  margin-bottom: 35px;
  font-size: larger;
}
.reservation-details-container {
  border: 1px solid black;
  height: 350px;
  border-radius: 25px;
  margin-top: -40px;
  background-color: white;
  text-align: left;
}

.reservation-details-container span {
  display: block;
  color: #612d39;
  font-family: 'Cardo-Regular', sans-serif;
  text-align: left;
}


  .close {
    margin-top: -50px;
    text-align: right;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: -40px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  .reservation-details-container > .Reserve-time {
    margin-top: 15px;
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .reservation-details-container > .Reserve-time > #Reservation-txt {
    font-family: 'Cardo';
    color: #612D39;
    font-weight: bold;
  }

  .reservation-details-container > .Reserve-time > .Reservation-Time-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Date {
    height: 70%;
    width: 35%;
    margin-top: 10px;
    background-color: transparent;
    border-right: 1px solid #A6A6A6;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Date span {
    font-family: 'Cardo';
    font-size: 0.9rem;
    color: #612D39;
    margin-bottom: 5px;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Date > .Reservation-Time-Date-Set {
    width: 92%;
    height: 65%;
    border: 1px solid #3D1226;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Date > .Reservation-Time-Date-Set > .Date-Set {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Date > .Reservation-Time-Date-Set > .Date-Set p {
    font-family: 'Cardo';
    color: #612D39;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Date > .Reservation-Time-Date-Set > .Date-Set-Up-Down {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Date > .Reservation-Time-Date-Set > .Date-Set-Up-Down img {
    height: 12px;
    width: 20px;
    margin-left: 20%;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Date > .Reservation-Time-Date-Set > .Date-Set-Up-Down > .Date-Up {
    margin-top: 6px;
    cursor: pointer;
  }.reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Date > .Reservation-Time-Date-Set > .Date-Set-Up-Down > .Date-Down {
    margin-top: 5px;
    cursor: pointer;
  }

  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time {
    height: 70%;
    width: 67%;
    margin-top: 10px;
    background-color: #545454;
    display: flex;
    flex-direction: row;
    
  } 
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-in {
    height: 100%;
    width: 47.5%;
    background-color: transparent;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-in span {
    font-family: 'Cardo';
    font-size: 0.9rem;
    color: #612D39;
    margin-bottom: 5px;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-in > .Time-in-set {
    width: 100%;
    height: 65%;
    border: 1px solid #3D1226;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-in > .Time-in-set > .TimeIn-Set {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-in > .Time-in-set > .TimeIn-Set p {
    font-family: 'Cardo';
    color: #612D39;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 4px;
    display: in;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-in > .Time-in-set > .TimeIn-Set-Up-Down {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-in > .Time-in-set > .TimeIn-Set-Up-Down img{
    height: 12px;
    width: 20px;
    margin-left: 30%;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-in > .Time-in-set > .TimeIn-Set-Up-Down > .TimeIn-Up {
    margin-top: 6px;
    cursor: pointer;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-in > .Time-in-set > .TimeIn-Set-Up-Down > .TimeIn-Down {
    margin-top: 5px;
    cursor: pointer;
  }

  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .dash {
    width: 3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .dash span {
    font-family: 'Cardo';
    font-size: 2.5rem;
    color: #612D39;
    font-weight: bolder;
  }

  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time {
    height: 70%;
    width: 67%;
    margin-top: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
  } 
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-out {
    height: 100%;
    width: 47.5%;
    background-color: transparent;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-out span {
    font-family: 'Cardo';
    font-size: 0.9rem;
    color: #612D39;
    margin-bottom: 5px;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-out > .Time-out-set {
    width: 100%;
    height: 65%;
    border: 1px solid #3D1226;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-out > .Time-out-set > .TimeOut-Set {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-out > .Time-out-set > .TimeOut-Set p {
    font-family: 'Cardo';
    color: #612D39;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 4px;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-out > .Time-out-set > .TimeOut-Set-Up-Down {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-out > .Time-out-set > .TimeOut-Set-Up-Down img{
    height: 12px;
    width: 20px;
    margin-left: 30%;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-out > .Time-out-set > .TimeOut-Set-Up-Down > .TimeOut-Up {
    margin-top: 6px;
    cursor: pointer;
  }
  .reservation-details-container > .Reserve-time > .Reservation-Time-content > .Reservation-Time-Time > .Time-out > .Time-out-set > .TimeOut-Set-Up-Down > .TimeOut-Down {
    margin-top: 5px;
    cursor: pointer;
  }


  .reservation-details-container > .Reserve-purpose {
    margin-top: 15px;
    height: 32%;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .reservation-details-container > .Reserve-purpose > #Reserve-PurposeId {
    font-family: 'Cardo';
    color: #612D39;
    font-weight: bold;
  }

  .reservation-details-container > .Reserve-purpose > .Reservation-purpose-content {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    background-color: transparent;
  }
  .reservation-details-container > .Reserve-purpose > .Reservation-purpose-content > .Course {
    height: 80%;
    width: 47.5%;
    margin-top: 10px;
    background-color: transparent;
  }
  .reservation-details-container > .Reserve-purpose > .Reservation-purpose-content > .Course span {
    font-family: 'Cardo';
    font-size: 0.9rem;
    color: #612D39;
    margin-bottom: 5px;
  }
  .reservation-details-container > .Reserve-purpose > .Reservation-purpose-content > .Course > .Enter-Course {
    width: 100%;
    height: 68%;
    display: flex;
    
  }
  .reservation-details-container > .Reserve-purpose > .Reservation-purpose-content > .Course > .Enter-Course input {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Cardo';
    font-size: 1.5rem;
    font-weight: bolder;
    border: 1px solid #3D1226;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  input:focus {
    outline: none;
    border: 2px solid #3D1226;
    /*box-shadow: 0 0 5px rgba(61, 18, 38, 0.5);*/
  }
  .reservation-details-container > .Reserve-purpose > .Reservation-purpose-content > .Course > .Enter-Course img {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    margin-left: calc(75% - 49.5%);
    position: absolute;
    z-index: 2;
  }

  .reservation-details-container > .Reserve-purpose > .Reservation-purpose-content > .Course-Instructor {
    height: 80%;
    width: 47.5%;
    margin-top: 10px;
    background-color: transparent;
    margin-left: 2%;
  }
  .reservation-details-container > .Reserve-purpose > .Reservation-purpose-content > .Course-Instructor span {
    font-family: 'Cardo';
    font-size: 0.9rem;
    color: #612D39;
    margin-bottom: 5px;
  }
  .reservation-details-container > .Reserve-purpose > .Reservation-purpose-content > .Course-Instructor > .Enter-Course-Intsructor {
    width: 100%;
    height: 68%;
    
  }
  .reservation-details-container > .Reserve-purpose > .Reservation-purpose-content > .Course-Instructor > .Enter-Course-Intsructor input {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Cardo';
    font-size: 1.5rem;
    font-weight: bolder;
    border: 1px solid #3D1226;
    border-radius: 5px;
    padding-left: 15px;
  }
  input:focus {
    outline: none;
    border: 2px solid #3D1226;
    /*box-shadow: 0 0 5px rgba(61, 18, 38, 0.5);*/
  }

  .reservation-details-container > .check-reset {
    margin-top: 15px;
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .reservation-details-container > .check-reset p {
    font-family: 'Cardo';
    font-size: 0.9rem;
    color: #612D39;
    text-decoration: underline;
    cursor: pointer;
  }
  .reservation-details-container > .check-reset button {
    height: 35px;
    width: 180px;
    background: linear-gradient(180deg, #612d39, #531b26, #3d1226, #31111e);
    color: white;
    border-radius: 4px;
    font-family: 'Cardo';
  }
  .reservation-details-container > .check-reset button:hover {
    color: #DBA729;
    cursor: pointer;
  }
  
  div.modal-reservation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  div.modal-reservation {
    height: 70%;
    width: 30%;
    background-color: #314b4b;
    border-radius: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  div.modal-reservation-content {
    height: 95%;
    width: 99%;
    background-color: wheat;
    margin-top: 5%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }


  