body {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Cardo-Regular";
  src: url("../static/fonts/Cardo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cardo-Bold";
  src: url("../static/fonts/Cardo-Bold.ttf") format("truetype");
}

.background-register {
  background-image: url("../images/landing-page-full.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-credentials-container {
  width: 700px; /* Change to your preferred width */
  height: 600px; /* Change to your preferred height */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-designer {
  width: 700px;
  height: 22.24px;
  flex-shrink: 0;
  background: #dba729;
  position: absolute;
  top: 0;
  left: 0;
}

.student-rep-text {
  text-align: center;
  color: #810403;
  margin-top: 175px;
  font-size: 17px;
  font-family: "Cardo-Regular", sans-serif;
}

.bold-text {
  font-family: "Cardo-Bold", sans-serif;
  font-weight: bold;
}

.logo-register {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20%; /* Position from the vertical center */
  left: 50%; /* Position from the horizontal center */
  transform: translate(-50%, -50%); /* Center the element precisely */
}

.logo-register img {
  width: 100%;
  height: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.student-name-input-row {
  width: 400px;
  display: flex;
  margin: 5px;
}

.student-last-name-input,
.student-first-name-input {
  border: 2px solid #000; /* Add a 2px solid black border (you can adjust the color as needed) */
  border-radius: 4px;
  width: 50%;
  margin-right: 5px; /* Adjust the value as needed */
}

.student-number-input input {
  border: 2px solid #000; /* Add a 2px solid black border (you can adjust the color as needed) */
  border-radius: 4px;
  width: 400px; /* Adjust the width to your desired size */
  margin: 10px;
}

.birthdate-input-row {
  width: 400px; /* Adjust the width to your desired size */
  display: flex;
  margin: 10px;
}

.selectMonth-input,
.selectDay-input,
.selectYear-input {
  border: 2px solid #000;
  border-radius: 4px;
  width: 33%;
  margin-right: 10px; /* Adjust the value as needed */
}

.email-input input {
  width: 400px; /* Adjust the width to your desired size */
  border: 2px solid #000; /* Add a 2px solid black border (you can adjust the color as needed) */
  border-radius: 4px;
  margin: 10px;
}

.password-input input {
  width: 400px; /* Adjust the width to your desired size */
  border: 2px solid #000; /* Add a 2px solid black border (you can adjust the color as needed) */
  border-radius: 4px;
  margin: 10px;
}

.confirm-password-input input {
  width: 400px; /* Adjust the width to your desired size */
  border: 2px solid #000; /* Add a 2px solid black border (you can adjust the color as needed) */
  border-radius: 4px;
  margin: 10px;
}

.button-container {
  position: relative;
  overflow: hidden;
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  border-radius: 7px;
  font-size: 12px;
  width: 100px;
  background: linear-gradient(to bottom, #612d39, #531b2e, #3d1226, #31111e);
  color: #fff;
}
