body {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Cardo-Regular";
  src: url("../static/fonts/Cardo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cardo-Bold";
  src: url("../static/fonts/Cardo-Bold.ttf") format("truetype");
}

.background-login {
  background-image: url("../images/landing-page-full.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-credentials-container {
  width: 600px;
  height: 500px; 
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-designer {
  width: 600px;
  height: 22.24px;
  flex-shrink: 0;
  background: #dba729;
  position: absolute;
  top: 0;
  left: 0;
}

.student-rep-text {
  text-align: center;
  color: #810403;
  margin-top: 175px;
  font-size: 17px;
  font-family: "Cardo-Regular", sans-serif;
}

.bold-text {
  font-family: "Cardo-Bold", sans-serif;
  font-weight: bold;
}

.logo-login {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20%;
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.logo-login img {
  width: 100%;
  height: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.password-input,
.student-number-input,
.button-container {
  margin: 5px;
}

.student-number-input :focus {
  border-color: #DBA729;
  box-shadow: 0 0 8px 0 #DBA729;
}

.password-input :focus {
  border-color: #DBA729;
  box-shadow: 0 0 8px 0 #DBA729;
}

.student-number-input input {
  width: 400px;
}

.password-input input {
  width: 400px;
  margin-top: 10px; 
}

.button-container {
  position: relative;
  overflow: hidden;
  margin: 20px;
  padding: 5px;
  font-size: 16px;
  border-radius: 7px;
  font-size: 12px;
  width: 100px;
  background: linear-gradient(to bottom, #612d39, #531b2e, #3d1226, #31111e);
  color: #fff;
}

.student-rep-login-btn:active,
.button-container:active {
  background-color: #DBA729;
  color: #DBA729;
  box-shadow: #DBA729;
}

.forgot-pass {
  text-align: center;
  margin-top: 10px; 
  font-size: 12px;
  font-family: "Cardo-Regular", sans-serif
}

.forgot-pass label input {
  accent-color: #810403;
}

.forgot-pass a {
  color: #810403;
  text-decoration: none;
}

.forgot-pass a:hover {
  text-decoration: underline;
}

.forgot-pass a:active {
  color: #DBA729;
}

.register-login-page {
  text-align: center;
  margin-top: 10px; 
  font-size: 12px;
  font-family: "Cardo-Regular", sans-serif
}

.register-login-page label input {
  accent-color: #810403;
}

.register-login-page a {
  color: #810403;
  text-decoration: none;
}

.register-login-page a:hover {
  text-decoration: underline;
}

.register-login-page a:active {
  color: #DBA729;
}

/* TRY LANG MUNA SA TOOLTIP */

.register-login-page .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border: 0 !important;
  border-radius: 6px;
  border-color: #000;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.register-login-page:hover .tooltiptext {
  visibility: visible;
}

/* END OF TRY WHAHAH */