* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Cardo-Regular';
  src: url('../static/fonts/Cardo-Regular.ttf') format('truetype');
}
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
div {
  display: block;
}
body {
  box-sizing: border-box;
  background: linear-gradient(135deg, #ffffff, #dfdfdf);
  margin: auto;
  padding: 0;
  height: auto;
  overflow: auto;
  font-family: 'Cardo-Regular', sans-serif;
}
.Nav-upper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  height: 70px;
}
div.Menu-Container {
  margin-right: auto;
  margin-left: 20px;
}
.Menu_icon {
  height: 37px;
  width: 37px;
  padding: 5px;
  cursor: pointer;
}
.Menu_icon:hover {
  background-color: rgba(166, 166, 166, 0.2);
  border-radius: 5px;
}
.Logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
div.Acc_Setting-Container {
  margin-left: auto;
  margin-right: 20px;
}
.Acc_Settings {
  height: 45px;
  width: 45px;
  cursor: pointer;
}
ul.Profile-Setting {
  display: none;
  list-style: none;
  width: 200px;
  height: 130px;
  position: absolute;
  background-color: whitesmoke;
  color: #abb0b8;
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: -150px;
  margin-top: -5px;
  border: 2px solid;
  border-image: linear-gradient(180deg, #612d39, #531b2e, #3d1226, #31111e);
  border-image-slice: 1;
  border-radius: 7px;
}
ul.Profile-Setting li {
  font-size: 0.9rem;
  color: #810403;
  margin-top: 8px;
  padding: 0;
  cursor: pointer;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding: 2px;
  border: 1px solid transparent;
}
ul.Profile-Setting li:hover {
  background-color: rgba(169, 169, 169, 0.5);
  padding: 2px;
  border: 1px solid rgba(169, 169, 169, 0.5);
  border-radius: 5px;
  
}
img.Profile-Icon, img.Change_Password-Icon, img.Logout-Icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
.Nav-bar {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.Nav-left {
  display: flex;
  align-items: center;
  width: 270px;
  height: 80px;
  margin-right: 0;
  background-color: #ffffff;
  margin-top: 5px;
  transition: transform 0.3s ease;
  transform: translateX(0);
}
.Nav-left.hidden {
  transform: translateX(-100%);
}
.Nav-left_Content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.Nav-left_img img{
  height: 35px;
  width: 35px;
  cursor: pointer;
}
.Nav-left_text h1 {
  font-size: 16px;
  color: #810403;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}
.Nav-left_text h2 {
  font-size: 14px;
  color: #810403;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}
.Nav-left_Content > .Nav-left_text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}
.Nav-bar > .Nav-Right {
  width: calc(100% - 270px);
  height: 80px;
  background-color: #ffffff;
  margin-top: 5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Nav-Right > .Nav-Right-Content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Nav-Right-Content > div {
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Nav-Right-Content > div img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  cursor: pointer;
}
.Nav-Right-Content > div h2 {
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
}
.Side-bar {
  display: flex;
  align-items: center;
  width: 270px;
  height: 750px;
  margin-right: 0;
  background-color: #810403;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-top: 4px solid #DBA729;
  transition: transform 0.3s ease, margin-right 0.3s ease;
  transform: translateX(0);
}
.Side-bar.hidden {
  transform: translateX(-100%);
  margin-right: -270px;
}
.Side-bar > .Side-bar-Contents > .Rooms, .Reservations {
  width: 220px;
  height: 270px;
  background-color: rgba(128, 128, 128, 0.5);
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  opacity: 4;
  margin-top: 50px;
}
div.Reservations {
  margin-top: 70px;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.Side-bar > .Side-bar-Contents > .Reservations > .Reservation-img-Container {
  width: 220px;
  height: 270px;
  cursor: pointer;
}
.Side-bar > .Side-bar-Contents > .Rooms > .Room-img-Container {
  width: 220px;
  height: 270px;
  cursor: pointer;
}
div.Reservation-img-Container {
  width: 220px;
  height: 270px;
}
.Side-bar > .Side-bar-Contents > .Rooms > .Room-img-Container img, .Reservations > .Reservation-img-Container img {
  height: 100px;
  width: 100px;
}
.Rooms > .Room-img-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Reservations > .Reservation-img-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
 div.Rooms > .Rooms-bttn button {
  height: 50px;
  width: 220px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: -10px;
  font-family: 'Cardo-Regular', sans-serif;
  font-size: 1.1rem;
  color: #810403;
  cursor: pointer;
}

div.Reserve-bttn button {
  height: 50px;
  width: 220px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: -10px;
  font-family: 'Cardo-Regular', sans-serif;
  font-size: 1.1rem;
  color: #810403;
  cursor: pointer;
}
div.Reserve-bttn button:hover {
  color: #DBA729;
}

.side-bar-and-content {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.side-bar-and-content > .Updates-Schedule-Container {
  width: calc(100% - 290px);
  height: 750px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 25px;
  padding-bottom: 20px;
}

.side-bar-and-content > .Updates-Schedule-Container > .Updates-Container {
  height: 200px;
  width: 100%; /* Calculate the remaining width */
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-radius: 10px;
}

.Updates-Container > .date-container {
  width: 220px;
  height: 150px;
  border: 1px solid black;
  border-radius: 7px;
}

.Updates-Container > .date-container > .month-year {
  height: 25px;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.Updates-Container > .date-container > .month-year p {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  color: #810403;
}

.Updates-Container > .date-container > .day-container {
  height: 100px;
  width: 219px;
  display: flex;
  justify-content: center;
  border-top: 4px solid #612D39;
  align-items: center;
}

.Updates-Container > .date-container > .day-container h1 {
  font-size: 4rem;
  color: #810403;
}

.Updates-Container > .date-container > .current-time {
  height: 25px;
  width: 219px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid black;
  border-radius: 7px;
  align-items: center;
}

.Updates-Container > .date-container > .current-time p {
  margin: 0;
  font-size: 0.8rem;
  color: #810403;
}

.Updates-Container > .room-availability-container {
  width: 220px;
  height: 150px;
  border: 1px solid transparent;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, #337656, #314b4b);
}

.Updates-Container > .room-availability-container > .no-of-available {
  height: 150px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Updates-Container > .room-availability-container > .no-of-available h1 {
  font-size: 4rem;
  margin: 0;
  color: #ffffff;
}

.Updates-Container > .room-availability-container > .availability-text {
  height: 150px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 3.5px solid white;
}
.Updates-Container > .room-availability-container > .availability-text p {
  font-size: 0.75rem;
  text-align: center;
  margin: 0;
  color: #ffffff;
}

.Updates-Container > .room-inuse-container {
  width: 220px;
  height: 150px;
  border: 1px solid transparent;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, #337656, #314b4b);
}

.Updates-Container > .room-inuse-container > .no-of-inuse {
  height: 150px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Updates-Container > .room-inuse-container > .no-of-inuse h1 {
  font-size: 4rem;
  margin: 0;
  color: #ffffff;
}

.Updates-Container > .room-inuse-container > .inuse-text {
  height: 150px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 3.5px solid white;
}
.Updates-Container > .room-inuse-container > .inuse-text p {
  font-size: 0.75rem;
  text-align: center;
  margin: 0;
  color: #ffffff;
}

.Updates-Container > .room-maintenance-container {
  width: 220px;
  height: 150px;
  border: 1px solid transparent;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, #810403, #492b37);
}
.Updates-Container > .room-maintenance-container > .no-of-maintenance {
  height: 150px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Updates-Container > .room-maintenance-container > .no-of-maintenance h1 {
  font-size: 4rem;
  margin: 0;
  color: #ffffff;
}
.Updates-Container > .room-maintenance-container > .maintenance-text {
  height: 150px;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 3.5px solid white;
}
.Updates-Container > .room-maintenance-container > .maintenance-text p {
  font-size: 0.6rem;
  text-align: center;
  margin: 0;
  color: #ffffff;
}
.Schedule-Container {
  height: 600px;
  width: 90%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
}

div.calendar-container {
  height: 100%;
  width: 100%;
}

.calendar {
  display: grid;
  grid-template-areas: 
  "empty    planes"
  "time contents";
  grid-template-columns: 120px;
  grid-template-rows: 50px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.20);
  border: none; /* Add this line to remove the border */
}

.empty {
  display: grid;
  grid-area: empty;
  border: none;
}

.planes {
  grid-area: planes;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-transform: uppercase;
  font-size: 12px;
  background-color: white;
  border: none;
}

.planes > div {
  display: grid;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

/* Add this to remove the borders around each cell in .planes */
.planes > div {
  font-family: 'Cardo-Regular', sans-serif;
  font-size: larger;
  color: #810403;
  font-weight: 600;
  border: none;
}

.times {
  grid-area: time;
  display: grid;
  grid-template-rows: repeat(14, 1fr); 
  font-size: 14px;
  background-color: white;
  border: none;
}

.times > div {
  display: grid;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: 'Cardo-Regular', sans-serif;
  font-size: larger;
  color: #810403;
  font-weight: 600;
}

.content {
  position: relative;
  grid-area: contents;
  display: grid;
  grid-template-rows: repeat(14, 1fr); 
  grid-template-columns: repeat(7, 1fr);
  border: none;
  grid-auto-flow: column;
  font-size: 10px;
}

.content > div {
  border: none;
}

.event {
  padding-top: 8px;
  font-size: 14px;
  position: absolute;
  background-color: yellow;
  height: 100%;
}

.content > div:nth-child(even) {
  background-color: white;
}

.modal-container {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal {
  background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

.modal-container--close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold
}

.modal-container--close:hover,
.modal-container--close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}