body {
  margin: 0px;
  padding: 0px;

}

.background-login {
  background-image: url('images/landing-page-full.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-position: center;
}

.login-credentials-container {
  width: 564px;
  height: 439px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-designer {
  width: 564px;
  height: 22.24px;
  flex-shrink: 0;
  background: #DBA729;
  position: absolute;
  top: 0;
  left: 0;
}

.student-rep-text {
  text-align: center;
  color: #810403;
  margin-top: 100px;
}

.logo-login {
  position: absolute; /* Change to absolute to position it inside .login-credentials-container */
  top: 60px; /* Adjust the top position as needed */
  right: 252px; /* Adjust the right position as needed */
  width: 50px;
  height: 50px;
}

.logo-login img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}