* {
    box-sizing: border-box;
  }

@font-face {
    font-family: 'Cardo-Regular';
    src: url('../static/fonts/Cardo-Regular.ttf') format('truetype');
}
  html {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  div {
    display: block;
  }
  body {
    box-sizing: border-box;
    background: linear-gradient(135deg, #ffffff, #dfdfdf);
    margin: auto;
    padding: 0;
    height: auto;
    overflow: auto;
    font-family: 'Cardo-Regular', sans-serif;
  }
  .Nav-upper {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    height: 70px;
  }
  .Menu_icon {
    height: 35px;
    width: 35px;
    margin-right: auto;
    margin-left: 20px;
    cursor: pointer;
  }
  .Logo {
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  .Acc_Settings {
    height: 45px;
    width: 45px;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
  }
  .Nav-bar {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .Nav-left {
    display: flex;
    align-items: center;
    width: 270px;
    height: 80px;
    margin-right: 0;
    background-color: #ffffff;
    margin-top: 5px;
  }
  .Nav-left_Content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
  }
  .Nav-left_img img{
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  .Nav-left_text h1 {
    font-size: 16px;
    color: #810403;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
  }
  .Nav-left_text h2 {
    font-size: 14px;
    color: #810403;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
  }
  .Nav-left_Content > .Nav-left_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
  }
  .Nav-bar > .Nav-Right {
    width: calc(100% - 270px);
    height: 80px;
    background-color: #ffffff;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .Nav-Right > .Nav-Right-Content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .Nav-Right-Content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.Nav-Right-Content > div img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    cursor: pointer;
}
.Nav-Right-Content > div h2 {
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
.Side-bar {
    display: flex;
    align-items: center;
    width: 270px;
    height: 750px;
    margin-right: 0;
    background-color: #810403;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-top: 4px solid #DBA729;
  }
  .Side-bar > .Rooms, .Reservations {
    width: 220px;
    height: 270px;
    background-color: rgba(128, 128, 128, 0.5);
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    opacity: 4;
    margin-top: 50px;
  }
  div.Reservations {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .Side-bar > .Reservations > .Reservation-img-Container {
    width: 220px;
    height: 270px;
  }
  .Side-bar > .Rooms > .Room-img-Container {
    width: 220px;
    height: 270px;
  }
  div.Reservation-img-Container {
    width: 220px;
    height: 270px;
  }
  .Side-bar > .Rooms > .Room-img-Container img, .Reservations > .Reservation-img-Container img {
    height: 100px;
    width: 100px;
  }
  .Rooms > .Room-img-Container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Reservations > .Reservation-img-Container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
   div.Rooms > .Rooms-bttn button {
    height: 50px;
    width: 220px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: -10px;
    font-family: 'Cardo-Regular', sans-serif;
    font-size: 1.1rem;
    color: #810403;
    cursor: pointer;
  }
  div.Reserve-bttn button {
    height: 50px;
    width: 220px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: -10px;
    font-family: 'Cardo-Regular', sans-serif;
    font-size: 1.1rem;
    color: #810403;
    cursor: pointer;
  }
  .side-bar-and-content > .Updates-Container {
    width: calc(100% - 290px); /* Calculate the remaining width */
    background-color: #E8E8E8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .side-bar-and-content {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .Updates-Container {
    background-color: #ffffff;
    margin-top: 10px;
    height: 200px;

  }

  .Updates-Container > .date-container {
    width: 220px;
    height: 150px;
    border: 1px solid black;
    border-radius: 7px;
  }
  
  .Updates-Container > .date-container > .month-year {
    height: 25px;
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .Updates-Container > .date-container > .month-year p {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .Updates-Container > .date-container > .day-container {
    height: 100px;
    width: 219px;
    display: flex;
    justify-content: center;
    border-top: 4px solid #612D39;
  }

  .Updates-Container > .date-container > .current-time {
    height: 25px;
    width: 219px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid black;
    border-radius: 7px;
    align-items: center;
  }

  .Updates-Container > .date-container > .current-time p {
    margin: 0;
    font-size: 0.8rem;
  }